@charset "UTF-8";

body {
    background-color: #050505d8;
    color: #ffff;
}

.bg-primary-color {
    background-color: #000000;
}

.bg-dark-color {
    background-color: #050505d8;
}

.primary-color {
    background-color: #ffff;
}

.bg-footer {
    background-color: #000000;
}

.navbar-nav a:hover {
    border-bottom: 1px solid white;
    color: #ffff;
}

.navbar-brand {
    border-bottom: 1px solid white;
}

.navbar-brand img {
    width: 30px;
}

.navbar-brand span {
    color: #ffff;
}

.nav-item a {
    color: #ffff;
}

.navbar-toggler {
    background-color: white;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

#slider {
    margin-top: 13em;
    margin-bottom: 1em;
}

.carrossel {
    height: 30%;
}

.carousel-item img {
    height: 30%;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i, 
.carousel-control-next i {
    color: white;
    font-size: 30px;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.text h3 {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 3s;
}

.my-card {
    margin: 0 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.801);
}

.card-body p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.text-galery {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-galery h3 {
    font-weight: bold;
}

.parallax {
    background-image: url(../imagens/header\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 80px;

  }

.container .texto {
    display: flex;
}

.texto {
    background-color: rgba(255, 252, 252, 0.5);
    width: 150px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    max-width: 80%; 
    margin: 0 auto; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.texto a {
    text-decoration: none;
    color: white;
}

.h3-localization {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

iframe {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
}

.container-fluid footer {
    background-color: black;
}


@media screen and (max-width: 425px) {
    #team-cards .row {
        display: flex;
        justify-content: center; /* Centraliza os cards */
    }

    #team-cards .col-md-3 {
        width: 75%; /* Define a largura das colunas para 50% */
        margin: 18px; /* Adiciona espaçamento entre os cards */
    }

    .my-card .card-img-top {
        width: 100%; /* Largura total para as imagens dos cards */
        height: auto; /* Altura automática */
    }

}

@media screen and (min-width: 800px) {
    .carousel-caption {
        margin-bottom: 26%;
    }

    .carousel-caption h3 {
        font-size: 3em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }

    .carousel-caption p {
        font-size: 1em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }
}