/* estilização geral */

@charset "UTF-8";

body {
    background-color: #050505d8;
    color: #ffff;
}

.bg-primary-color {
    background-color: #000000;
}

.bg-dark-color {
    background-color: #050505d8;
}

.primary-color {
    background-color: #ffff;
}

.bg-footer {
    background-color: #000000;
}

.navbar-nav a:hover {
    border-bottom: 1px solid white;
    color: #ffff;
}

.navbar-brand {
    border-bottom: 1px solid white;
}

.navbar-brand img {
    width: 15px;
}

.navbar-brand span {
    font-size: 18px;
    color: #ffff;
}

.nav-item a {
    color: #ffff;
}

.nav-item a.active {
    color: #ffff;
}

.navbar-toggler {
    background-color: white;
}

#navbar-items .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#navbar-items .nav-item {
    margin: 0 1em;
}

#slider {
    margin-top: 180px;
    margin-bottom: 1em;
}

.carrossel {
    height: 30%;
}

.carousel-item img {
    height: 30%;
}

#slider .btn {
    padding: 0.3 0.8em;
    font-size: 1em;
    margin-top: 1em;
}

.carousel-control-prev i, 
.carousel-control-next i {
    color: white;
    font-size: 30px;
}

.carousel-caption h3 {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
    font-weight: bold;
}

.carousel-caption p {
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
    font-weight: bold;
}

.text {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.text h3 {
    font-weight: bold;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 3s;
}

.my-card {
    margin: 0 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(169, 169, 169, 0.801);
}

.card-body p {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.text-galery {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-galery h3 {
    font-weight: bold;
}

.parallax {
    background-image: url(../imagens/header\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    margin-top: 80px;

}

.container .texto {
    display: flex;
}

.h3-localization {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

iframe {
    margin-bottom: 50px;
}

footer {
    margin-top: 50px;
    height: 380px;
}

.container-fluid footer {
    background-color: black;
    align-items: center;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.col-4 i{
    font-size: 18px;
    padding: 8px;
}

.col-4 i:hover {
    cursor: pointer;
}

.icon-facebook:hover {
    color: #3b5998; /* Azul do Facebook */
}

.icon-instagram:hover {
    color: #bc2a8d; /* Rosa do Instagram */
}

.icon-whatsapp:hover {
    color: #25d366; /* Verde do Whatsapp */
}

/* celular */
@media screen and (max-width: 568px) {
    #team-cards .row {
        display: flex;
        justify-content: center; 
    }

    #team-cards .col-md-3 {
        width: 75%; 
        margin: 18px; 
    }

    .my-card .card-img-top {
        width: 100%; 
        height: auto; 
    }

    .texto p {
        font-size: 1em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }

    footer {
        height: 380px;
    }

}

/* tablet */
@media screen and (min-width: 768px) and (max-width: 1024px){

    #team-cards .row {
        justify-content: center;
    }

    #team-cards .col-md-3 {
        width: 45%;
        margin: 10px; 
        padding: 10px;
    }
    .carousel-caption {
        margin-bottom: 15%;
    }
    
    .carousel-caption h3 {
        font-size: 3em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }
    
    .carousel-caption p {
        font-size: 1em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }

    .texto p {
        font-size: 1.5em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }
    
    footer {
        margin-top: 50px;
        height: 280px;
    }
}

/* desktop */
@media screen and (min-width: 1280px){
    .carousel-caption {
        margin-bottom: 26%;
    }
    
    .carousel-caption h3 {
        font-size: 3em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }
    
    .carousel-caption p {
        font-size: 1em;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }

    .texto p {
        font-size: 20px;
        text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.884);
        font-weight: bold;
    }

    footer {
        margin-top: 50px;
        height: 280px;
    }
}
